<%= render 'partials/nav/user' %>
<section class="section main">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div class="column">
        <p class="title">Converations</p>
      </div>

        <div class="column is-12">
          <div class="table-is-responsive">
            <table class="table is-striped">
              <tbody>
              <% @conversations.each do |conversation| %>
              <tr>
                <td>
                  <%= conversation.created_at.strftime("%d/%m/%Y") %>
                </td>
                <td>
              <%= link_to conversation.subject, conversation_path(conversation) %>
              </td>
              <% end %>

              </tr>
              </tbody>

          </table>
          </div>
        </div>
      <p class="control">
        <%= link_to 'New Conversation', new_conversation_path %>
      </p>
    </div>
  </div>
</section>
