<% if !@bag_item.nil? && @bag_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @bag_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @bag_items.size == 0 %>
  <p class="text-center">
    There are no items in your donation bag.  Please <%= link_to "go back", root_path %> and add some items to your donation bag.
  </p>
<% else %>
  <% @bag_items.each do |bag_item| %>
    <%= render 'bag/bag_row', bag_item: bag_item, show_total: true %>
  <% end %>
<% end %>
