<%= render 'partials/nav/user' %>
<section class="section main">
<div class="container is-fluid">
  <div class="columns">
    <div class="column is-6">
      <div class="box">

      <%= render 'donation_bags/donation_bag' %>
    </div>


    </div>
  <div class="column is-6">
    <div class="box">
    <%= render 'products/pantry' %>
  </div>

  </div>
</div>
</div>

</section>
