<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a>Dashboard</a></li>
    <li><a>Donations</a></li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li>
      Manage Your Orgs
      <ul>
        <li>NOPE<li>
      </ul>
    </li>
    <li>
    <a>Account Settings</a>
    <ul>
      <li><a>View all items</a></li>
      <li><a>Add an item</a></li>
      <li><a>Add a member</a></li>
    </ul>
    <li>
      <a class="is-active">Manage Your Pantry</a>
      <ul>
        <li><a>View all items</a></li>
        <li><a>Add an item</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
    <li><a>Invitations</a></li>
    <li><a>Get help</a></li>
  </ul>
  <p class="menu-label">
    Transactions
  </p>
  <ul class="menu-list">
    <li><a>Dropoffs</a></li>
    <li><a>Pickups</a></li>
    <li><a>Pending</a></li>
  </ul>
</aside>
