<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a>Dashboard</a></li>
    <li><a>Donations</a></li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <% if @user.orgs.any? %>
    <li>
      Manage Your Orgs
      <ul>
        <% @user.orgs.each do |org| %>
        <li><%= link_to "#{org.name}", org_dashboard_path(org_id: org.id) %></li>
        <% end %>
      </ul>
    </li>
    <% end %>
    <li>
      <a>Manage Your Pantry</a>
      <ul>
        <li><a>View all items</a></li>
      </ul>
    </li>

    <li>
    <a>Account Settings</a>
    <ul>
      <li><%= link_to "View Your Profile", current_user %></li>
      <li><%= link_to "Update Your Account", edit_user_registration_path %></li>
    </ul>
    </li>
  </ul>
  <p class="menu-label">
    Donations
  </p>
  <ul class="menu-list">
    <li><a>Dropoffs</a></li>
    <li><a>Pickups</a></li>
    <li><a>Pending</a></li>
  </ul>
</aside>
